.card {
  border: 5px solid #bd1919;
  box-shadow: 0 3px 6px #f1e1e1(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  height: 150px;
  margin: 10px;
  overflow: hidden;
  width: 250px;
  float: left;
  display: flex;
  
  
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
  transition: 0.1s;
}

.card-img-top {
  border-radius: 0;
}

.card-height {
  height: 100%;
  width: 100%;
}